@import 'fontMixin';

$main-black-color: #141416;
$main-gray-color:#606060;
$font-family:"Inter", sans-serif;
$main-font-family:"Poppins", sans-serif;

*{
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track{
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	background-color: $main-black-color;
	border-radius: 6px;
	transition: 0.4s;
}

html{
	background-color: #F9F9F9;
	scroll-behavior: smooth;
}

header{
	background-color: #F9F9F9;
	margin: 2% 0% 6% 0%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	.header__navigation{
		display: grid;
		grid-template-columns: 2fr 4fr;
		.header__logo{
			display: flex;
			justify-content: center;
		}
		.header__links{
			align-self: center;
			display: flex;
			justify-content: space-around;
			a{
				text-decoration: none;
				color: $main-gray-color;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 1.2rem;
				font-family: $font-family;
				transition: 0.3s;
				position: relative;
			}
			::before{
				content: '';
				width: 100%;
				height: 2px;
				background-color: #141416;
				bottom: 0;
				left: 0;
				position: absolute;
				transition: 0.3s;
				transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
				transform: scaleX(0);
			}
			:hover::before,
			:focus::before{
				transform: scaleX(100%);
			}
			:hover,
			:focus{
				scale: 1.02;
				opacity: 0.8;
			}
		}
	}
	.header__search{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		.header__input{
			input{
				font-size: 1.1rem;
				width: 400px;
				position: relative;
				border-radius: 10px;
				line-height: 47px;
				background-color: rgba(213, 213, 213, 0.561);
				border: none;
				transition: 0.4s;
			}
			:hover,
			:focus{
				transform: scaleX(1.1);
			}
			::placeholder{
				color: #C2C3CB;
				padding:  0px 5%;
				font-size: 1.1rem;
			}
		}
		.header__button{
			background-color: $main-black-color;
			color: #fff;
			border-radius: 10px;
			button{
				background-color: $main-black-color;
				border-radius: 10px;
				color: #fff;
				font-weight: 400;
				text-transform: uppercase;
				padding: 16px 24px;
				font-size: 1.2rem;
				transition: 0.2s;
			}
			:hover,
			:focus{
				opacity: 0.8;
				cursor: pointer;
			}
		}
	}
}

main{
	background-color: #F9F9F9;
	.discoverSection{
		margin-bottom: 15%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		.discoverSection__description{
			margin-left: 11%;
			.discoverSection__title{
				color: $main-black-color;
				font-family: $main-font-family;
				font-size: 3.7rem;
			}
			.discoverSection__text{
				font-family: $font-family;
				width: 80%;
				color: $main-gray-color;
				p{
					font-size: 1.4rem;
					samp{
						font-weight: 900;
						font-family: $font-family;
					}
				}
			}
			.discoverSection__buttons{
				display: flex;
				button{
					margin:15% 2% 4% 0%;
					font-family: $main-font-family;
					text-transform: uppercase;
					font-size: 1.1rem;
					border-radius: 7px;
					font-weight: 500;
					padding: 2% 4%;
					transition: 0.4s;
					&:hover{
						scale: 1.08;
						cursor: pointer;
					}
				}
				:nth-child(1){
					background-color: $main-black-color;
					color: #fff;
					transition: 340ms;
				}
				:nth-child(2){
					background-color: transparent;
					transition: 340ms;
				}
			}
			.discoverSection__info--wrapper{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				.discoverSection__info{
					font-family: $main-font-family;
					b{
						color: $main-black-color;
						font-weight: 600;
						font-size: 2.30rem;
					}
					p{
						color: $main-gray-color;
						font-size: 0.8rem;
					}
				}
			}
		}
		.discoverSection__images{
			position: relative;
			.discoverSection__image2{
				position: absolute;
				right: 0;
				bottom: -22px;
				z-index: 1;
			}
			.discoverSection__image3{
				position: absolute;
				top: 0;
				right: 0;
			}
			.discoverSection__controls{
				position: absolute;
				left: 20%;
				bottom: 0;
				display: flex;
				justify-content: center;
				box-shadow: 12px 55px 100px 0px rgba(80, 80, 80, 1);
				width: 10%;
				button{
					background-color: #fff;
					display: flex;
					justify-content: center;
					transition: 0.4s;
					border: 0;
					padding: 19% 28%;
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
					border-bottom-right-radius: 10px;
					border-top-right-radius: 10px;
					&:hover{
						scale: 1.1;
						cursor: pointer;
					}
				}	
			}
		}
	}
	.weeklyTopSection{
		position: relative;
		margin-bottom: 20%;
		.weeklyTopSection__title{
			margin-bottom: 3rem;
			font-size: 2rem;
			color: #c5c5c5;
			font-family: $main-font-family;
			font-weight: 600;
			display: flex;
			justify-content: center;
		}
		.weeklyTopSection__sliderWrapper{
			overflow: hidden;
			.weeklyTopSection__sliderCards{
				background-color: #e5e5e5;
				display: flex;
				overflow: hidden;
				margin-bottom:9%;
				justify-content: space-evenly;
				.weeklyTopSection__card{
					margin: 0rem 3rem 0rem 0rem;
					background-color: #fff;
					border-radius: 7px;
					width: max-content;
					.weeklyTopSection__cardImage{
						position: relative;
						padding: 0.7rem 0.7rem 0rem 0.7rem;
						img{
							border-radius: 1rem;
						}
						.weeklyTopSection__time{
							position: absolute;
							right: 0.7rem;
							top: 0.8rem;
							background-color: #807b7d;
							color: #fff;
							font-family: $main-font-family;
							font-size: 0.8rem;
							width: max-content;
							border-radius: 8px;
							padding: 0.5rem 1.4rem;
						}
					}
					.weeklyTopSection__cardTitle{
						b{
							margin-left: 2rem;
							font-size: 1.6rem;
							color: $main-black-color;
							font-weight: 600;
							font-family: $main-font-family;
						}
					}
					.weeklyTopSection__bottomCardSection{
						display: flex;
						justify-content: space-around;
						padding-bottom: 1.2rem;
						.weeklyTopSection__cardText{
							p{
								color: #94A3B8;
								font-size: 1.1rem;
								font-family: $main-font-family;
							}
						}
						.weeklyTopSection__cardPrice{
							display: flex;
							img{
								margin: 0rem 0.2rem;
								max-width: 100%;
							}
							p{
								font-weight: 500;
								font-size: 1.1rem;
								color: $main-black-color;
								font-family: $main-font-family;
							}
						}
	
						.weeklyTopSection__card__button{
							button{
								padding: 0.6rem 1rem;
								background-color: $main-black-color;
								transition: 0.4s;
								border-radius: 7px;
								@include mainFont(white,600,1.2rem,$main-font-family);
								&:hover{
									cursor: pointer;
									opacity: 0.7;
								}
							}
						}
					}
				}
			}
		}
		.weeklyTopSection__buttons{
			display: flex;
			margin-left: 50%;
			transform: translateX(-50%);
			justify-content: center;
			box-shadow: 12px 55px 100px 0px rgba(80, 80, 80, 1);
			width: 10%;
			button{
				background-color: #fff;
				display: flex;
				justify-content: center;
				transition: 0.4s;
				border: 0;
				padding: 10% 23%;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				border-top-right-radius: 10px;
				&:hover{
					scale: 1.1;
					cursor: pointer;
				}
			}	
		}
		.weeklyTopSection__recentViewedConatiner{
			position: absolute;
			border-radius: 10px;
			right: 16.1rem;
			bottom: -15rem;
			background-color: #f9f9f9;
			.weeklyTopSection__recentViewedContent{
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: center;
				justify-content: space-between;
				padding: 1.5rem 1.3rem;
				:nth-child(2n){
					justify-self: end;
				}
				b{
					color: $main-black-color;
					font-size: 1.3rem;
					font-family: $main-font-family;
				}
				.weeklyTopSection__customer--details{
					display: grid;
					grid-template-columns:1fr 2fr;
						img{
							border-radius: 50%;
							object-position: center;
						}
						.weeklyTopSection__customerNames{
							b{
								@include mainFont($main-black-color,500,0.9fr,$main-font-family)
							}
							p{
								@include mainFont(#64748B,300,0.5fr,$main-font-family)
							}
						}
					}
					.weeklyTopSection__customer--stocks{
						margin: 2rem 0rem;
						.weeklyTopSection__customer--details{
							img{
								border-radius: 10px;
							}
						}
						.weeklyTopSection__customer--stocksAmount{
							display: flex;
							align-items: center;
							p{
								@include mainFont($main-black-color,600,0.9rem,$main-font-family);
							}
		
						}
						.weeklyTopSection__customer--stocksPercent1{
							color: #10C352;
						}
						.weeklyTopSection__customer--stocksPercent2{
							p{
								color: #E23333;
							}
						}
					}
			}

		}
	}
	.topCollectionSection{
		padding: 20px;
		margin-top: 13%;
		background-color: #F9F9F9;
		.topCollectionSection__title{
			display: flex;
			margin-bottom: 5%;
			justify-content: center;
			@include mainFont($main-black-color,600,2.8rem,$main-font-family)
		}
		.topCollectionSection__users{
			.topCollectionSection__collectionContainer{
				display: flex;
				justify-content: space-between;
				.topCollectionSection__info--collection{
					width: 30%;
					p{
						@include mainFont(#93989A,500,1.1rem,$main-font-family)
					}
				}
				.topCollectionSection__info{
					display: flex;
					width: 60%;
					justify-content: space-between;
					p{
						@include mainFont(#93989A,500,1.1rem,$main-font-family)
					}
				}
			}
			.topCollectionSection__userCard{
				display: flex;
				justify-content: space-between;
				padding-top: 2%;
				border: 2px;
				border-color: #EBE9E9;
				border-style: solid;
				border-top: 0;
				border-left: 0;
				border-right: 0;
				padding-bottom: 1%;
				.topCollectionSection__userDetales{
					width: 100%;
					align-items: center;
					justify-content: space-between;
					display: flex;
					&:nth-child(3){
						margin-right: 100%;
					}
					.userIcon{
						width: 30%;
						display: flex;
						align-items: center;
						.topCollectionSection__userIcon{
							margin-right: 2%;
							img{
								border-radius: 50%;
								object-position: center;
							}
						}
						.topCollectionSection__userName{
							margin-left: 1%;
							p{
								@include mainFont($main-black-color,500,1.2rem,$main-font-family)
							}
							.topCollectionSection__userCard--paleText{
								@include mainFont(#64748B,400,1.1rem,$main-font-family)
							}
						}
					}

					.topCollectionSection__userInfo{
						width: 60%;
						display: flex;
						justify-content: space-between;
						p{
							display: flex;
							align-items: center;
							@include mainFont($main-black-color,600,1.1rem,$main-font-family)
						}
						.topCollectionSection__userCard--percentText{
							color: #10C352;
						}
					}	
				}

			}
		}
		.topCollectionSection__exploreMore{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: end;
			a{
				margin: 2% 2%;
				text-decoration: none;
				@include mainFont(#ACADB9,500,1rem,$main-font-family);
				display: flex;
				align-items: center;
				&:hover{
					text-decoration: underline;
				}
			}


		}
	}
	.marketplaceSection{
		margin-bottom: 6%;
		.marketplaceSection__title{
			p{
				display: flex;
				justify-content: center;
				padding-top: 5%;
				padding-bottom: 7%;
				width: 100%;
				@include mainFont($main-black-color,600,2.8rem,$main-font-family)
			}
		}
		.marketplaceSection__navigation{
			display: flex;
			justify-content: center;
			width: 100%;
			align-items: center;
			margin-bottom: 8%;
			button{
				background-color: transparent;
				max-width: 100%;
				border-radius: 13px;
				@include mainFont($main-black-color,600,1rem,$main-font-family);
				padding: 0.9rem 1.5rem;
				margin: 0px 20px;
				display: flex;
				transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
				transition: 0.4s;
				align-items: center;
				img{
					margin-right: 6%;
				}
				&:hover{
					cursor: pointer;
					scale: 1.05;
				}
			}
		}
		.marketplaceSection__cards{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			margin: 0% 5%;
			.marketplaceSection__card{
				border-radius: 20px;
				margin: 10%;
				box-shadow: 7px 34px 100px -22px rgba(66, 68, 90, 1);
				.marketplaceSection__image{
					position: relative;
					display: flex;
					justify-content: center;
					width: 100%;
					img{
						padding: 0.9rem;
						object-fit: cover;
						width: 100%;
						border-radius: 30px;
						height: 270px;
					}
					p{
						@include mainFont(#fff,500,0.8rem,$main-font-family);
						position: absolute;
						right: 23px;
						top: 18px;
						background-color: #606060;
						padding: 10px;
						border-radius: 10px
					}
				}
				.marketplaceSection__textBlock{
					padding: 0.9rem;
					.marketplaceSection__title{
						p{
							@include mainFont($main-black-color,600,2em,$main-font-family);
							display: block;
						}
					}
					.marketplaceSection__info{
						display: flex;
						justify-content: space-between;
						width: 100%;
						.marketplaceSection__curentBid{
							@include mainFont($main-black-color,500,1.1rem,$main-font-family);
							.marketplaceSection__curentBid--title{
								@include mainFont(#94A3B8,400,1.2rem,$main-font-family)
							}
						}
						.marketplaceSection__button{
							padding: 1rem 1.2rem;
							background-color: $main-black-color;
							font-family: $main-font-family;
							@include mainFont(#fff,600,1rem,$main-font-family);
							border-radius: 10px;
							transition: 0.4s;
							&:hover{
								opacity: 0.8;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
		.marketplaceSection__exploreMoreLink{
			width: 100%;
			display: flex;
			justify-content: end;
			a{
				margin-right: 7%;
				margin-top: 2%;
				@include mainFont(#ACADB9,500,1rem,$main-font-family);
				text-decoration: none;
				display: flex;
				align-items: center;
				transition: 0.3s;
				&:hover{
					transform: scale(1.02);
					text-decoration: underline;
				}
				img{
					opacity: 0.6;
				}
			}
		}
	}
	.unleashSection{
		margin: 5%;
		margin-bottom: 10%;
		padding-top: 8%;
		border: 2px #14141620 solid;
		border-right: 0;
		border-left: 0;
		border-bottom: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		.unleashSection__info{
			.unleashSection__title{
				margin-bottom: 9%;
				p{
					@include mainFont(#C5C5C5,700,2.8rem,$main-font-family);
					samp{
						@include mainFont(#141414,700,2.8rem,$main-font-family);
					}
				}
			}
			.unleashSection__advantages{
				margin-bottom: 9%;
				p{
					padding: 1.2%;
					display: flex;
					align-items: center;
					@include mainFont(#12141D,400,1rem,$main-font-family);
					 &::before{
						content: url(../images/checked.png);
						border-radius: 50%;
						display: flex;
						align-items: center;
						margin-right: 1%;
					 }
				}
			}
			.unleashSection__button{
				button{
					transition: 0.3s;
					&:hover{
						cursor: pointer;
						opacity: 0.8;
					}
					display: flex;
					align-items: center;
					padding: 19px 21px;
					background-color: $main-black-color;
					@include mainFont(#fff,500,0.9rem,$main-font-family);
					border-radius: 10px;
					svg{
						margin-left: 10px;
					}
				}
			}
		}
	}
	.creaateAndSellNFTSection{
		border-radius: 20px;
		margin: 0% 7%;
		margin-bottom: 10%;
		background-color: $main-black-color;
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 2.7rem 8rem;
		.creaateAndSellNFTSection__textContainer{
			.creaateAndSellNFTSection__title{
				p{
					@include mainFont(#FFFFFF,600,2.8rem,$main-font-family);
				}
			}
			.creaateAndSellNFTSection__subTitle{
				margin-bottom: 10%;	
				p{
					opacity: 0.7;
					@include mainFont(#D4D4D4,500,1.1rem,$main-font-family);
				}
			}
			.creaateAndSellNFTSection__buttonsContainer{
				button{
					margin-right: 10px;
					background-color: #fff;
					border-radius: 10px;
					padding: 1.2rem 1.5rem;
					@include mainFont($main-black-color,600,1.1rem,$main-font-family);
					transition: 0.4s;
					&:hover{
						scale: 1.1;
						cursor: pointer;
					}
				}
				:last-child{
					background-color: transparent;
					border-radius: 10px;
					border-color: #fff;
					padding: 1.2rem 1.5rem;
					@include mainFont(#fff,600,1.1rem,$main-font-family)

				}
			}
		}
		.creaateAndSellNFTSection__imageContainer{
			display: flex;
			justify-content: flex-end;
			img{
				border-radius: 20px;
				box-shadow: -1px 39px 100px -13px rgba(255, 255, 255, 1);
			}
		}
	}
}

footer{
	padding: 6rem 5.75rem;
	background-color: $main-black-color;
	.footer__contactInfo{
		align-items: center;
		padding-bottom: 2%;
		border: 2px #818181 solid;
		border-right: 0;
		border-left: 0;
		border-radius: 0;
		border-top: 0;
		display: flex;
		justify-content: space-between;
		.footer__logo{
			width: 20%;
			a{
				img{
					margin: 0% 5%;
				}
				text-decoration: none;
				display: flex;
				align-items: center;
				@include mainFont(#FFFFFF,600,1.8rem,$main-font-family);
			}
		}
		.footer__contacts{
			width: 80%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			a{
				margin-right: 6%;
				text-decoration: none;
				@include mainFont(#B9B9B9,500,1.08rem,$main-font-family);
				transition: 0.3s;
				transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
				&:hover{
					scale: 1.05;
					color: #d1d1d1;
				}
			}
		}
	}
	.footer__socialMedia{
		padding-top: 4%;
		display: flex;
		justify-content: space-between;
		.footer__copyRight{
			width: 20%;
			@include mainFont(#999999,500,1.08rem,$main-font-family);
		}
		.footer__socialMedias{
			display: flex;
			justify-content: end;
			width: 80%;
			a{
				margin-right: 2%;
				text-decoration: none;
				&:hover{

				}
			}
		}
	}
}